.dialogs {
    width: 100%;
    min-height: 94vh;
    max-height: 94vh;
    overflow: auto;
    background-color: rgb(87, 87, 87);
}
.dialogs__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 3px 0;
    margin: 0;
}
.dialogs__chat {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: var(--clrChat);
    border-radius: 10px;
}

.dialogs__chat:hover{
    background-color: var(--clrChatH);
    cursor: pointer;
}
.dialogs__chat:hover .dialogs__photo-photo{
    border: 10px solid var(--clrChatH);
}
.dialogs__photo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogs__photo-photo {
    border: 10px solid var(--clrChat);
    border-radius: 45%;
    height: 95%;
    width: auto;
}
.dialogs__info {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.dialogs__name {
}
.dialogs__name-name {
    color: aliceblue;
    font-size: 0.8rem;
}
.dialogs__lastmessage {
}
.dialogs__lastmessage-last {
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6rem;
    margin: 0;
}
.dialogs__date {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: 0.8rem;
}
.dialogs__date-date {
}

.dialogs__in {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialogs__sms {
    color: aliceblue;
}